body {
    background-color: #000033;
    color: #ff9;
    margin-top: 70px;
    font-family: sans-serif;
    font-size: 14px;
}

nav {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center
}
section{
    padding-top: 5px;
    padding-bottom: 10px;
}

h2,
h4 {
    font-weight: bold;
}

h3,h4 {
    color: aqua
}

.navbar {
    background-color:#FFF;height: 60px;
    border-color: fuchsia;
    color: black
}

#Home {
    background-color: crimson;
    color: black;box-sizing: padding-box;border-image-width: auto
}
.footer {background:#CCCCFF;color:black;text-align: center;clear: both;}
p {font-size: strong}